.App {
    display: flex;
    flex-direction: row;
}

.App-Content {
    width: 100%;
}

.main-content {
    margin-left: 300px;
}

@media (max-width: 992px) {
    .main-content {
        margin: 30px;
    }
}
